footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--Bright-blue);
}

.footerContent {
    border: aqua solid;
    background-color: aquamarine;
}